/* This file is for your main application css. */
@import "./phoenix.css";
@import "~easymde/dist/easymde.min.css";
@import "admin/admin.scss";
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.editor-toolbar button {
  color: #212529;
  font-size: 1.6rem;
}

// Copied from Tomorrow Prism theme
code.inline {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  color: #ccc;
  background: #2d2d2d;
  padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
