.main-nav {
  border-bottom: 1px solid black;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 120rem;
  margin-top: 15px;

  .blog-post-list {
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td, th {
      border: none;
    }

    td:first-child, th:first-child {
      padding-left: 5px;
    }
    td:last-child, th:last-child {
      padding-right: 5px;
    }
  }
}

.nav-items {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center;

  li {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
  }

  .button {
    margin: 0;
  }
}

.logo {
  padding: 0 10px;
  font-size: 2rem;
  font-weight: 700;

  a {
    color: black;
    cursor: pointer;
  }

  a:hover {
    opacity: 0.5;
  }
}

.form-buttons {
  display: flex;

  .button {
    margin: 0 5px;
  }
}

.post-form-container {
  display: flex;
  justify-content: space-between;
}

.post-content-inputs {
  padding: 0 15px;
  flex-grow: 2;
}