<h1>About Me</h1>
<p>
Senior software engineer currently based in Seattle, WA, originally from Sydney, Australia.
My developer journey started in 2014 as an iOS developer, but soon after, I found Ruby on Rails.
Since then, I’ve built apps with Golang and scratched the surface with Clojure and Elixir.
I love architecting solutions to technical challenges, exploring new languages and frameworks, and mentoring others.
</p>