<h1>New Blog Post</h1>

<%= form_for @changeset, Routes.post_path(@conn, :create), fn f -> %>
  <label>
    title:
  </label>
  <%= text_input f, :title %>

  <label>
    Published?:
  </label>
  <%= checkbox f, :is_published %>

  <label>
    Publish date:
  </label>
  <%= datetime_select f, :publish_date %>

  <label>
    Content:
  </label>
  <%= textarea f, :content %>

  <%= submit "Submit!" %>
<% end %>