<label>
  title:
</label>
<%= text_input @post, :title %>

<label>
  Content:
</label>
<%= textarea @post, :content %>

<%= submit "Submit!" %>
<%= link "Back to Dashboard", to: Routes.admin_dashboard_path(@conn, :index), class: "button"%>