<%= if @post.cover_image do %>
  <img src=<%= @post.cover_image %> alt="cover image" />
<% end %>
<h1><%= @post.title %></h1>
<strong><%= post_display_date(@post.published_at)%></strong>
<div>
  <%= as_html(@post.content) %>
</div>

<hr />
<%= link "Back to all posts", to: Routes.post_path(@conn, :index), class: "button" %>